
@{
    Layout = null;
}

<a href="/Default/Urunler">Ürünler Sayfası</a>
<a href="/Default/Customer">Customer Sayfasına Gider</a>


<h1>Merhaba Core Oop Pojresi</h1>
<h3>Oop Devam ediyor</h3>
<h1>Mesaj Listesi</h1>
<h1>------------------------</h1>
<h2>@ViewBag.m1</h2>
<h2>@ViewBag.m2</h2>
<h2>@ViewBag.m3</h2>
<h2>@ViewBag.v</h2>
<h1>@ViewBag.tp</h1>
