
@{
    Layout = null;
}

<a href="/Default/Index">Index Sayfasına Gideceksin</a>
<a href="/Default/Customer">Customer Sayfasına Gider</a>
<h1>ÜRÜNLER SAYFASI</h1>
<h3>@ViewBag.m1</h3>
<h3>@ViewBag.m2</h3>
<h3>@ViewBag.m3</h3>
<h3>Toplam: @ViewBag.t</h3>
<h3> Dikdörtgen Kenar Hesap Sonucu: @ViewBag.c</h3>
<h3> Faktoriyel: @ViewBag.faktor</h3>
<h2>@ViewBag.v</h2>
<h2>@ViewBag.v</h2>
